<h1 class="ui top attached header">
  List of all coffee profiles.
</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Roasters</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <% @coffees.each do |coffee| %>
      <tr>
        <td><%= coffee.name %></td>
        <td><%= coffee.roasters%></td>
        <td><%= link_to "Show post", coffee_path(coffee) %>
      </tr>
    <% end %>
  </tbody>
</table>
