<div class="ui divide">
  <center>
    <div class="ui header middle aligned">
      <h1> Welcome to Coffee Record</h1>
      <h4>
        Track your coffee brew methods<br/>
        Explore best recipes<br/>
        Unvail completely new tastes
      </h4>
      <br/>
      <%= link_to "Sign up now!", new_user_registration_path  %>
    </div>
  </center>
</div>
