<div class="ui divide">
  <center>
    <h3 class="ui header middle aligned">
      Welcome all coffee passionates. Here you can track all the different coffees
      that you have drank and share your opinions.
    </h3>
  </center>
</div>
